.listItem{
    align-content: center;
    border: 4px solid rgb(187, 187, 187);
    height: auto;
    width: auto;
    flex:auto;
    margin: auto;   
}

.listItem img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 45 px;
}