/* .listItem{
    align-content: center;
    border: 4px solid rgb(187, 187, 187);
    height: auto;
    width: auto;
    flex:auto;
    margin: auto;   
} */

.listItem img {
    /* max-width: 90%;
    max-height: 90%; */
    margin-top: 45 px;
    padding-left: 2 em;
}

.description{
    max-width: 500px;
    max-height: 90%;
    margin-top: 45 px;
}

.likeStyling{
    background-color: beige;
    color: rgb(49, 51, 53);
}

.photo{
    border: 5px solid rgb(187, 185, 187);
    padding: 2em;
}